<div class="headerContainer">
  <div class="titleContainer">
    <h1 class="title">
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="navContainer rows mb-2 bg-dark">
    <div class="col-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a routerLinkActive="active" class="nav-link text-white"  routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white"  routerLink="/market">Market</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white"  routerLink="/collection">Collections</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  