.navContainer{
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom-right-radius: .25rem!important;
  border-bottom-left-radius: .25rem!important;
}
.titleContainer{
  text-align: center;
  background-color: #6c757d!important;
  color: #fff!important;
  border-top-left-radius: .25rem!important;
  border-top-right-radius: .25rem!important;
}
.titleContainer>.title{
  padding: 1.5rem 0.5rem;
  margin: 0;
}
ul.nav li a:hover:not(.active) {
  color: #0275d8!important;
}