<h3 class="text-info">Collections</h3>
<div class="mb-2" >
  <div class="row" *ngIf="collectedItems.length">
    <div class="col-12">
      <ul class="list-group" >
        <li id="item-{{$index}}"class="list-group-item mb-1" *ngFor="let item of collectedItems; let $index=index"> 
          <button class="btn btn-danger mr-1" (click)="removeFromCollection(item, $index)">Remove</button> 
          {{item.description}}
          <span class="badge badge-secondary float-right">{{item.type}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="!collectedItems.length && isInCollectionPage">
      <h4 class="text-info">No items selected, please visit Market page or Dashboard page to select items</h4>
  </div>
</div>

